In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("cardata.csv")

In [3]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [5]:
data.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [6]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [8]:
data["Car_Name"].unique().shape

(98,)

In [9]:
data.shape

(301, 9)

In [10]:
dataencoded = pd.get_dummies(data,columns=["Fuel_Type","Seller_Type","Transmission"])

In [11]:
dataencoded.drop("Car_Name",inplace=True,axis=1)

In [12]:
dataencoded.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,3.35,5.59,27000,0,False,False,True,True,False,False,True
1,2013,4.75,9.54,43000,0,False,True,False,True,False,False,True
2,2017,7.25,9.85,6900,0,False,False,True,True,False,False,True
3,2011,2.85,4.15,5200,0,False,False,True,True,False,False,True
4,2014,4.60,6.87,42450,0,False,True,False,True,False,False,True

In [13]:
X = dataencoded.drop("Present_Price",axis=1)
y = dataencoded["Present_Price"]

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,test_size=0.2,random_state=44,shuffle=True)

In [16]:
y_test.shape

(61,)

In [17]:
lr = LinearRegression()

In [18]:
lr.fit(X_train,y_train)

LinearRegression()

In [19]:
y_pred =lr.predict(X_test)

In [20]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [21]:
print("r2:",r2_score(y_test,y_pred))
print("MAE:",mean_absolute_error(y_test,y_pred))
print("MSE:",mean_squared_error(y_test,y_pred))

r2: 0.8596964915362181
MAE: 1.3655394158598542
MSE: 3.5528330102226455

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_standardized = pd.DataFrame(scaler.fit_transform(X),columns=X.columns)

In [23]:
X_standardized

,Year,Selling_Price,Kms_Driven,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,0.128897,-0.258416,-0.256224,-0.174501,-0.081786,-0.498962,0.509327,0.737285,-0.737285,-0.39148,0.39148
1,-0.217514,0.017481,0.155911,-0.174501,-0.081786,2.004162,-1.963374,0.737285,-0.737285,-0.39148,0.39148
2,1.168129,0.510154,-0.773969,-0.174501,-0.081786,-0.498962,0.509327,0.737285,-0.737285,-0.39148,0.39148
3,-0.910335,-0.356950,-0.817758,-0.174501,-0.081786,-0.498962,0.509327,0.737285,-0.737285,-0.39148,0.39148
4,0.128897,-0.012079,0.141743,-0.174501,-0.081786,2.004162,-1.963374,0.737285,-0.737285,-0.39148,0.39148
...,...,...,...,...,...,...,...,...,...,...,...
296,0.821718,0.953559,-0.076225,-0.174501,-0.081786,2.004162,-1.963374,0.737285,-0.737285,-0.39148,0.39148
297,0.475308,-0.130321,0.593804,-0.174501,-0.081786,-0.498962,0.509327,0.737285,-0.737285,-0.39148,0.39148
298,-1.603156,-0.258416,1.313340,-0.174501,-0.081786,-0.498962,0.509327,0.737285,-0.737285,-0.39148,0.39148
299,1.168129,1.347698,-0.719876,-0.174501,-0.081786,2.004162,-1.963374,0.737285,-0.737285,-0.39148,0.39148
300,0.821718,0.125869,-0.810958,-0.174501,-0.081786,-0.498962,0.509327,0.737285,-0.737285,-0.39148,0.39148

In [24]:
SX_train,SX_test,Sy_train,Sy_test=train_test_split(X_standardized,y,train_size=0.8,test_size=0.2,random_state=44,shuffle=True)

In [25]:
slr = LinearRegression()

In [26]:
slr.fit(SX_train,Sy_train)

LinearRegression()

In [27]:
sy_pred = slr.predict(SX_test)

In [28]:
print("r2:",r2_score(Sy_test,sy_pred))
print("MAE:",mean_absolute_error(Sy_test,sy_pred))
print("MSE:",mean_squared_error(Sy_test,sy_pred))

r2: 0.8596964915364385
MAE: 1.3655394158597778
MSE: 3.552833010217065